<!doctype html>
<html lang="eng">
    <head>
        <!-- Required meta tags -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- Bootstrap CSS --> 
        <link rel="stylesheet" href="../css/bootstrap.min.css">
        <!-- Animate CSS --> 
        <link rel="stylesheet" href="../css/animate.min.css">
        <!-- Meanmenu CSS -->
        <link rel="stylesheet" href="../css/meanmenu.css">
        <!-- Boxicons CSS -->
        <link rel="stylesheet" href="../css/boxicons.min.css">
        <!-- Flaticon CSS -->
        <link rel="stylesheet" href="../css/flaticon.css">
        <!-- Nice Select CSS -->
        <link rel="stylesheet" href="../css/nice-select.min.css">
        <!-- Owl Carousel CSS -->
        <link rel="stylesheet" href="../css/owl.carousel.min.css">
        <!-- Owl Carousel Default CSS -->
        <link rel="stylesheet" href="../css/owl.theme.default.min.css">
        <!-- Odometer CSS -->
        <link rel="stylesheet" href="../css/odometer.min.css">
        <!-- Magnific Popup CSS -->
        <link rel="stylesheet" href="../css/magnific-popup.min.css">
        <!-- Style CSS -->
        <link rel="stylesheet" href="../css/style2.css">
        <!-- Responsive CSS -->
		<link rel="stylesheet" href="../css/responsive.css">
    </head>

    <body>
        
        
        <div class="navbar-area">
            <div class="main-navbar">
                <div class="container">
                    <nav class="navbar navbar-expand-md navbar-light">
                        <div class="collapse navbar-collapse mean-menu" id="navbarSupportedContent">
                            <img  class="logo" src="../photo/logo.png">
                            <ul class="navbar-nav">
                                        <li class="nav-item">
                                            <a href="/" class="nav-link">
                                                Домой
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/phone" class="nav-link">
                                                Телефоны
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/laptops" class="nav-link">
                                                Ноутбооки
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/tv" class="nav-link">
                                                Телевизоры
                                            </a>
                                        </li> 
                                        <li class="nav-item">
                                            <a href="/appliance" class="nav-link">
                                                Бытовая техника
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                        </li>
                                        <li class="nav-item">
                                            <a href="/cart" class="nav-link">
                                                Корзина
                                                <i class='bx bx-chevron-down'></i>
                                            </a>
                                        </li>
                            </ul>
                    </div>
                    </nav>
                </div>
            </div>
        </div>
        
        <div class="page-banner-area item-bg2">
            <h1 class="categories">Карзина</h1>
        </div>
        <!-- End Page Banner -->

        <!-- Start Cart Area -->
		<section class="cart-area ptb-100">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12">
                        <form>
                            <div class="cart-table table-responsive">
                                <table class="table table-bordered">
                                    <thead>
                                        <tr>
                                            <th scope="col">Product photo</th>
                                            <th scope="col">Name</th>
                                            <th scope="col">Unit Price</th>
                                            <th scope="col">How much</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for(let i of data2){ %>
                                        <tr>
                                            <td class="product-thumbnail">
                                                
                                                    <img  class="cart_photo" src="<%= i.photo %>" alt="item">
                                                
                                            </td>
                                            <td class="product-name">
                                               <p><%= i.name%></p> 
                                            </td>
                                            <td class="product-price">
                                                <span class="unit-amount"><%= i.count %>$</span>
                                            </td>
                                            <td class="product-quantity">
                                                <div class="input-counter">
                                                    <p class="number_prodact"><%= i.numberProdact%></p>
                                                </div>
                                            </td>
                                        </tr>
                                        <%}%>
                                    </tbody>
                                </table>
                            </div>
                            <div class="cart-buttons">
                                <div class="row align-items-center">
                                    <div class="col-lg-7 col-sm-7 col-md-7">
                                        <a href="/acaunt" class="default-btn">
                                            Back to Shop
                                        </a>
                                    </div>
                                    <div class="col-lg-5 col-sm-5 col-md-5 text-right">
                                        
                                    </div>
                                </div>
                            </div>

                            <div class="cart-totals">
                                <h3>Cart Total</h3>
                                <%= x%> $
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </section>
		<!-- End Cart Area -->
        
        <!-- Start Footer Area -->
        <div class="footer-area pt-100 pb-70">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <div class="logo">
                                <h2>
                                    <a href="/"><img src="../photo/logo.png" alt="logo"></a>
                                </h2>
                            </div>
                            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
                            <ul class="social">
                                <li>
                                    <a href="#" class="facebook" target="_blank">
                                        <i class='bx bxl-facebook'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="twitter" target="_blank">
                                        <i class='bx bxl-twitter'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="pinterest" target="_blank">
                                        <i class='bx bxl-pinterest-alt'></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#" class="linkedin" target="_blank">
                                        <i class='bx bxl-linkedin'></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget pl-5">
                            <h3>Quick Links</h3>
    
                            <ul class="quick-links">
                                <li>
                                    <a href="/">Домой</a>
                                </li>
                                <li>
                                    <a href="/phone">Телефоны</a>
                                </li>
                                <li>
                                    <a href="/laptops">Ноутбооки</a>
                                </li>
                                <li>
                                    <a href="/tv">Телевизоры</a>
                                </li>
                                <li>
                                    <a href="/appliance">Бытовая техника</a>
                                </li>
                                <li>
                                    <a href="/cart">Корзина</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div class="col-lg-3 col-sm-6">
                        <div class="single-footer-widget">
                            <h3>Contact Us</h3>

                            <ul class="footer-contact-info">
                                <li>
                                    <i class='bx bxs-phone'></i>
                                    <span>Phone</span>
                                    <a href="tel:407409202288">(+40) 74 0920 2288</a>
                                </li>
                                <li>
                                    <i class='bx bx-envelope'></i>
                                    <span>Email</span>
                                    <a href="mailto:hello@orgo.com">hello@orgo.com</a>
                                </li>
                                <li>
                                    <i class='bx bx-map'></i>
                                    <span>Address</span>
                                    175 5th Ave Premium Area, New York, NY 10010, United States
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Footer Area -->

        <!-- Start Copy Right Area -->
        <div class="copyright-area">
            <div class="container">
                <div class="copyright-area-content">
                    <div class="row align-items-center">
                        <div class="col-lg-6 col-md-6">
                            <p>
                                <i class="far fa-copyright"></i> 
                                Copyright @2020 Orgo. All Rights Reserved by
                                <a href="https://envytheme.com/" target="_blank">
                                    EnvyTheme
                                </a>
                            </p>
                        </div>

                        <div class="col-lg-6 col-md-6">
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- End Copy Right Area -->

        <!-- Start Go Top Area -->
        <div class="go-top">
            <i class='bx bx-up-arrow-alt'></i>
        </div>
        <!-- End Go Top Area -->
        
        <script src="../js/jquery.min.js"></script>
        <!-- Popper JS -->
        <script src="../js/popper.min.js"></script>
        <!-- Bootstrap JS -->
        <script src="../js/bootstrap.min.js"></script>
        <!-- Meanmenu JS -->
        <script src="../js/jquery.meanmenu.js"></script>
        <!-- Nice Select JS -->
        <script src="../js/jquery.nice-select.min.js"></script>
        <!-- Owl Carousel JS -->
        <script src="../js/owl.carousel.min.js"></script>
        <!-- Magnific Popup JS -->
        <script src="../js/jquery.magnific-popup.min.js"></script>
        <!-- Odometer JS -->
        <script src="../js/odometer.min.js"></script>
        <!-- Jquery Appear JS -->
        <script src="../js/jquery.appear.min.js"></script>
        <!-- Ajaxchimp JS -->
		<script src="../js/jquery.ajaxchimp.min.js"></script>
		<!-- Form Validator JS -->
		<script src="../js/form-validator.min.js"></script>
		<!-- Contact JS -->
        <script src="../js/contact-form-script.js"></script>
        <!-- Wow JS -->
        <script src="../js/wow.min.js"></script>
        
        <script src="../js/main2.js"></script>
    </body>
</html>